@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #00ADB5;
    --color-secondary: #97EAD2;
    --color-accent: #FF729F;
    --color-neutral: #DBE2EF;
    --color-fore: #333333;
    --color-back: #F9F7F7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-neutral: #393E46;
        --color-fore: #FFFFFF;
        --color-back: #222831;
    }
}

body {
    @apply bg-back text-fore text-2xl;
}

.font-title {
    @apply font-bold text-5xl;
}
