@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1DA1F2;
    --color-secondary: #134B5C;
    --color-accent: #E94560;
    --color-neutral: #E6E6EA;
    --color-fore: #333333;
    --color-back: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #0D8BDB;
        --color-secondary: #102A43;
        --color-accent: #E94560;
        --color-neutral: #161E2E;
        --color-fore: #FFFFFF;
        --color-back: #333333;
    }
}

body {
    @apply bg-back text-fore;
    @apply text-2xl;
}

.font-title {
    @apply italic;
    @apply text-4xl;
}
