@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato&family=Poppins:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #FF729F;
    --color-secondary: #D81159;
    --color-accent: #00ADB5;
    --color-neutral: #FDEFEF;
    --color-fore: #333333;
    --color-back: #F9F7F7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #D81159;
        --color-secondary: #FF729F;
        --color-neutral: #212121;
        --color-fore: #FFFFFF;
        --color-back: #111111;
    }
}

body {
    @apply bg-back text-fore text-2xl;
}

hr, .hr {
    @apply flex-grow border-t-2 rounded-full border-fore my-10 mx-5;
}

h1, .h1 {
    @apply font-bold text-primary text-5xl;
}

.border-hover-effect {
    @apply border-4 border-transparent;
    @apply hover:border-primary;
    @apply transition-all;
}
